
		<!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="#" class="image avatar"><img src="images/0.jpeg" alt="" /></a>
        <h1><strong>Hello, I am Merhawi Temnewo. </strong>
            <h5>full-stack web developer</h5></h1>
      </div>
    </header>

  <!-- Main -->
    <div id="main">

      <!-- One -->
        <section id="one">
          <header class="major">
            <h2><strong>About</strong></h2>
          </header>
          <p>Talented software developer with 4+ years of experience building dynamic, responsive web applications tailored to customer needs. Proven ability to integrate complex requirements into technical features, ensuring delivery of key functionality. Dedicated to overcoming problems and project impediments through creative application of technology solutions. Outstanding analytical skills leveraged to effectively plan and implement highly complex, cross-platform technology solutions. Skilled at testing and troubleshooting applications.
</p>

<ul>
  <li *ngFor="let item of items | async">
     {{ item | json }}
  </li>
</ul>
        </section>

      <!-- Two -->
        <section id="two">
          <h2>Recent Work</h2>
          <div class="row">
            <article class="6u 12u$(xsmall) work-item">
              <a href="" class="image fit thumb"><img src="images/bnsf.png" alt="" /></a>
              <h2>Software Developer</h2>
              <h5>Followed Agile methodology for SDLC execution. Participated in SCRUM and weekly presentations to clients. Developed Efficient, Quality code to make an robust application. Effectively used Maven as Build tool & GIT as source control system. Developed code for Controllers, Business, Service & Data Access Layers. Created and developed RESTFUL API utilizing Spring Boot with Spring MVC. Experienced producing and consuming RestFul web services using Spring Boot. Implemented Hibernate with JPA specification for object relational mapping(ORM). Worked on Spring AOP to implement Log4j logging mechanism and to improve security. Used Spring Tool Suite(STS) to develop the application and Tomcat to deploy the project.  Troubleshoot issues raised from production & resolve issues to set as per requirements. </h5>
            </article>
          </div>
          <div class="row">
            <article class="6u 12u$(xsmall) work-item">
              <a href="" class="image fit thumb"><img src="images/cgi.jpeg" alt="" /></a>
              <h2>Java/J2EE full-stack Developer</h2>
              <h5>Worked on Caliber as an application developer. Caliber is a performance management suite to collect and analyze evaluations of Revature trainees. Trainers can input grades and feedback for each of their trainees. The quality department can input their evaluations on the batch of trainees. Trainers and quality personnel can comment on a trainee's profile. The Caliber suite also provides a variety of reports on different levels of granularity using visual dashboards and tabular data. Users can generate individual and batch PDF reports to distribute to clients, trainees, and other stakeholders.
          </h5>	</article>
          </div>
          <div class="row">
            <article class="6u 12u$(xsmall) work-item">
              <a href="" class="image fit thumb"><img src="images/rev.png" alt="" /></a>
              <h2>Java/J2EE full-stack Developer</h2>
              <h5>Designed and developed responsive web applications using Spring Boot in the back end and Angular in the front end. Also leveraged Bootstrap for photography studio management, online social savings network and product management</h5>	</article>
          </div>
        </section>

      <!-- Three -->
        <section id="three">
          <h2>Get In Touch</h2>
          <div class="row">
            <div class="8u 12u$(small)">
              <form method="post" action="#">
                <div class="row uniform 50%">
                  <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
                  <div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
                  <div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                </div>
              </form>
              <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
              </ul>
            </div>
            <div class="4u$ 12u$(small)">
              <ul class="labeled-icons">
                <li>
                  <h3 class="icon fa-home"><span class="label">Address</span></h3>
                  6414 Home Port Dr<br />
                  Fort Worth, TX 76131<br />
                  United States
                </li>
                <li>
                </li>
                <li>
                  <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
                  <a href="#">merhawi.temnewo88@gmail.com</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
    </div>

  <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
          <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
      </div>
    </footer>

  <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
